*.data filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
BuildingEscape.data filter=lfs diff=lfs merge=lfs -text
BuildingEscape.wasm filter=lfs diff=lfs merge=lfs -text
BuildingEscape-HTML5.pak filter=lfs diff=lfs merge=lfs -text
